@media (min-width: 768px) {
	.nav-desktop {
		display: flex;
		flex-direction: row;
		position: sticky;
		justify-content: flex-start;
		top: 0;
		align-items: center;
		margin: 0 auto;
		height: 10vh;
		width: 100%;

		.nav__logo {
			position: relative;
			top: 0em;
			left: 1em;
			color: $main-green;
			font-size: 2.2rem;
			a {
				color: whitesmoke;
				text-decoration: none;
				span {
					color: $main-green;
				}
			}
		}

		.nav__items {
			position: relative;
			left: 4em;
			a {
				top: 3em;
				padding: 0.5em;
				margin: 0.5em;
				font-size: 1.5rem;
				color: whitesmoke;
				text-decoration: none;
				transition: color 0.3s;
			}
			a:hover {
				color: $main-green;
			}
		}

		.nav-btn__box {
			position: absolute;
			top: 1em;
			right: 2em;
			margin-bottom: 2em;
			button {
				font-size: 1.3rem;
				padding: 0.7em 1.5em;
				color: whitesmoke;
				background-color: $secondary-green;
				transition: 0.3s;

				&::before {
					position: absolute;
					content: '';
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					border: 1px solid rgb(255, 255, 255);
					opacity: 0;
				}

				&:hover::before {
					animation: pulse 1s;
				}
			}
		}
	}
	.nav-mobile {
		display: none;
	}

	.features {
		height: 90vh;
		.wrapper {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 0.65fr 1fr;
			.features__heading {
				grid-column: 1/2;
				grid-row: 1/2;

				h3 {
					padding: 1.3em;
					left: 6%;
					margin: 0;
				}
			}

			.features__text {
				grid-column: 3/4;
				grid-row: 1/2;
				p {
					margin: 0;
					padding: 2.3em 0;
				}
			}

			.card-one {
				grid-row: 2/3;
			}

			.card-two {
				grid-column: 2/3;
				grid-row: 2/3;
			}

			.card-three {
				grid-column: 3/4;
				grid-row: 2/3;
			}
		}
	}

	.numbers {
		height: 100vh;
	}

	.features {
		height: 100vh;
	}
}
